# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
#Project documents
Szigeti_Jonas_2_audit_lighthouse_042024.pdf
Rapport d'optimisation Nina Carducci.pdf
Rapport d'optimisation Nina Carducci.odt
jszigeti.github.io_2024-04-23_18-07-40.html
jszigeti.github.io_2024-04-29_16-29-27.html