# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
#Project documents
jszigeti.github.io_2024-04-23_18-07-40.html
jszigeti.github.io_2024-04-25_18-13-11.html
Modele+rapport+d'optimisation.odt
Roadmap+SEO.xlsx